.header {
    background: #f9f9f9;
}

.header .inner {
    display: flex;
    align-items: center;
    height: 120px;
}

.header .inner .gnb {
    margin-left: auto;
}

.header .inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .inner .gnb>ul>li {
    position: relative;
}

.header .inner .gnb>ul>li>a {
    display: block;
    line-height: 120px;
    font-size: 18px;
    font-weight: 500;

    white-space: nowrap;
}


.header .inner .gnb>ul>li .sub {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    width: 120px;

    background: #fff;
    border: 2px solid #ddd;
}


.header .inner .gnb>ul>li:hover .sub {
    display: block;
}


.header .inner .gnb>ul>li:hover .sub a {
    display: block;
    line-height: 40px;
    text-align: center;
}

.header .inner .gnb>ul>li:hover .sub li~li a {
    border-top: 1px solid #ddd;
}


.main_visual {
    position: relative;
    background: #333;
    color: #fff;
}

.main_visual .itm {
    position: relative;
    height: calc(100vh - 120px);
}

.main_visual .itm01 {
    background: url(../images/visual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/visual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../images/visual03.jpg) no-repeat center center/cover;
}

.main_visual .itm .txt {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    max-width: 1170px;
    width: 100%;
}

.main_visual .itm .txt p {
    font-size: 40px;
    font-weight: 900;

    line-height: 48px;
    text-shadow: 0 0 2px #000;

    margin-bottom: 24px;
}

.main_visual .lnk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    max-width: 1170px;
    width: 100%;
}

.main_visual .lnk li {
    position: relative;
    line-height: 24px;
    text-align: right;
    padding-right: 40px;
}

.main_visual .lnk li span {
    color: transparent;
}

.main_visual .lnk li.on span {
    color: #fff;
}

.main_visual .lnk li::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(0, -50%);

    width: 16px;
    height: 16px;
    border: 1px solid #fff;
}

.main_visual .lnk li.on::after {
    background: #fff;
}

.main_visual .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-45deg);

    border: none;
    background: transparent;
    font-size: 0;

    width: 80px;
    height: 80px;

    
}

.main_visual .slick-prev {
    margin-left: -700px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.main_visual .slick-next {
    margin-left: 700px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    display: flex;
    gap: 4px;
    transform: translate(-50%, 0);
}

.main_visual .slick-dots button {
    width: 20px;
    height: 20px;
    font-size: 12px;


    border: none;
    background: #333;
    color: #fff;

    border-radius: 50%;
    cursor: pointer;
}

.main_visual .slick-dots li.slick-active button {
    background: #008850;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1400px;
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    border: none;
    background: transparent;
    cursor: pointer;
}


.main_visual .arrows button i {
    padding: 16px;
    background: rgba(0, 0, 0, 0.25);

    font-size: 32px;
    color: #fff;

    border-radius: 50%;
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_content {
    padding: 120px 0;
}

.main_content h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 24px;
}

.main_content>p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    margin-bottom: 40px;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner .itm {
    flex: 1;
    text-align: center;
}

.main_content .inner .itm strong {
    position: relative;
    display: block;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.main_content .inner .itm strong::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    width: 2px;
    height: 40px;
    background: #008850;
    transform: translate(-50%, -50%);
}

.main_content .inner .itm p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.main_content .inner .itm a {
    display: inline-block;
    margin-top: 24px;
    padding: 12px 24px;
    border: 1px solid #008850;
    font-size: 14px;
    color: #008850;
}

.main_content .inner .itm a::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 10px;
    background: url(../images/arrow_28.png) no-repeat center center;
}

.main_content .inner .itm .img_box {
    overflow: hidden;
}

.main_content .inner .itm img {
    transition: 0.4s;
}

.main_content .inner .itm:hover img {
    transform: scale(1.1);
}





.main_banner {
    position: relative;
    height: 400px;
    background: url(../images/visual01.jpg) no-repeat fixed center center/cover;
}

.main_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100;
}

.main_banner .inner h2 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.main_banner .inner p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}





.main_produt {
    padding: 120px 0;
}

.main_produt h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.main_produt P {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
}

.main_produt .main_product_slide {
    margin: 0 -15px;
}

.main_produt .main_product_slide .itm {
    margin: 0 15px;
}

.main_produt .main_product_slide .slick-dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
}

.main_produt .main_product_slide .slick-dots li button {
    width: 20px;
    height: 20px;
    background: #333;
    color: #fff;

    border: none;
    font-size: 12px;
    border-radius: 50%;
}

.main_produt .main_product_slide .slick-dots li.slick-active button {
    background: #008850;
}

.main_promotion {
    padding: 120px 0;
    background: #f9f9f9;
}

.main_promotion .inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main_promotion .inner>* {
    flex: 1;
}

.main_promotion .left .tab_menu {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
    height: 48px;
}

.main_promotion .left .tab_menu li {
    border: 1px solid #ddd;
    height: 49px;
}

.main_promotion .left .tab_menu li.on {
    border: 1px solid #008850;
}

.main_promotion .left .tab_menu li button {
    border: none;
    background: transparent;
    padding: 0 24px;
    height: 46px;
}

.main_promotion .left .tab_content .itm {
    height: 0;
    overflow: hidden;
}

.main_promotion .left .tab_content .itm.on {
    height: auto;
}

.main_promotion .right .u_box {
    position: relative;
    padding-bottom: 56.25%;
    background: tomato;
}

.main_promotion .right .u_box iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.footer {
    background: #f9f9f9;
}

.footer .ft {
    border-top: 1px solid #ddd;
}

.footer .ft .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .ft .customer {
    display: flex;
    gap: 40px;
}

.footer .ft .customer li {
    position: relative;
}

.footer .ft .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 8px;
    background: #333;
}

.footer .ft .sns {
    display: flex;
    gap: 8px;
}

.footer .ft .sns i {
    display: inline-block;
    font-size: 24px;
    padding: 8px;
    background: #333;
    color: #fff;
    border-radius: 50%;
}

.footer .fb {
    border-top: 1px solid #ddd;
}

.footer .fb .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .fb .f_logo img {
    filter: grayscale(1);
}

.footer .fb .copy address {
    font-style: normal;
}


.footer .fb .f_lnk #flnk {
    background: #008850;
    color: #fff;
    padding: 0 16px;
}

.to_top {
    position: fixed;
    bottom: 120px;
    right: 120px;

    border: none;
    background: transparent;
}


.to_top i {
    display: inline-block;
    padding: 8px;
    background: #333;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}